.element {
	background-color: #0997d3;
	width: 200px;
	height: 200px;
	transition: transform 1s ease-in-out;
	margin-right: 20px;
	display: inline-block;
}

.element:hover {
	transform: translateY(100%);
}
.element2 {
	background-color: #0997d3;
	width: 200px;
	height: 200px;
	transition: transform 1s ease-in-out;
	margin-right: 20px;
	display: inline-block;
}
.element2:hover {
	transform: translateX(100%);
}